@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container{
    width: 100%;
    height: 100vh;
    background: green;
    
}
.header{
    display: flex;
    flex-direction: column;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
}
.headerinfor{
    width: 100%;
    background: #82ae46;
    display: flex;
    flex-direction: row;
    /* justify-content: space-around; */
    justify-content: space-between;
    padding: 0.5rem 10rem;
    color: #fff;
    font-family: "Poppins",Arial,sans-serif;
    font-size: 11px;
    font-weight: 400;
}
.headerbox{
    width: 100%;
    height: 4.1rem;
    background: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: "Poppins",Arial,sans-serif;
    padding: 0rem 10rem;

}
.brand{
    color: #82ae46;
    font-weight: 800;
    font-size: 20px;
}
.brand span:hover{
    color: black;
    cursor: pointer;
    transition: 0.5s;
}
.menubar{
    width: 50%;
}
.menubar ul{
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    list-style: none;
    font-family: "Poppins",Arial,sans-serif;
    font-size: 11px;
    font-weight: 400;
    color: #000;
    
}
.menubar li{
    padding: 1.5rem 24px;
    cursor: pointer;
}

.dropdown{
    position: relative;
    display: inline-block;
    
}
.dropdown-content{
    display: none;
    position: absolute;
    background: #fff;
    min-width: 160px;
    z-index: 1;
}
.dropdown-content a{
    color: #000;
    padding: 0.5rem 24px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover{
    background: #fff;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown:hover .droptbn{
    background: #fff;
}

.homepage{
    width: 100%;
    height: 96vh;
    background-size: 100%;
    background-image: linear-gradient(to top, rgba(0,0,0,0.5), rgba(0,0,0,0.3)),url(https://preview.colorlib.com/theme/vegefoods/images/xbg_1.jpg.pagespeed.ic.CriyRQ4w7N.webp);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}
.intro{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.homepage .intro p:first-child{
    font-family: "Amatic SC",cursive;
    font-weight: 400;
    font-size: 8vw;
    padding-bottom: 18px;
}
.homepage .intro p:nth-child(2){
    font-family: "Poppins",Arial,sans-serif;
    font-weight: 300;
    font-size: 12px;
    margin-bottom: 24px;
}
.homepage .intro button{
    background: #82ae46;
    border: none;
    color: #fff;
    cursor: pointer;
    font-family: "Poppins",Arial,sans-serif;
    font-weight: 400;
    font-size: 16px;
    padding: 6px 12px;
    border-radius: 20px;
}
.homepage .intro button:hover{
    color: #82ae46;
    border: 1px solid #82ae46;
    background: transparent;
    box-sizing: border-box;
}
.selection{
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 70px 150px;
    justify-content: space-between;

}
.selection span{
    font-size: 15px;
    font-family: "Poppins",Arial,sans-serif;
    font-weight: 500;
    margin: 10px 0px;
}
.selection p{
    font-size: 12px;
    font-family: "Poppins",Arial,sans-serif;
    font-weight: 500;
    color: rgba(0,0,0,.5);
    margin-top: 5px;
}
.freeshipping,.alwaysfresh,.quality,.support{
    width: 30%;
    height: 200px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}
.selection .freeshipping .icon{
    width: 100px;
    height: 100px;
    background-size: 80%;
    border-radius: 50%;
    background-position: top 50% left 50%;
    background-repeat: no-repeat;
    background-color: #e4b2d6;
    background-image: url(https://image.flaticon.com/icons/png/512/411/411763.png);
    
}
.selection .alwaysfresh .icon{
    width: 100px;
    height: 100px;
    background-size: 60%;
    border-radius: 50%;
    background-position: top 50% left 50%;
    background-repeat: no-repeat;
    background-color: #dcc698;
    background-image: url(https://image.flaticon.com/icons/png/512/2329/2329903.png);
}
.selection .quality .icon{
    width: 100px;
    height: 100px;
    background-size: 60%;
    border-radius: 50%;
    background-position: top 50% left 50%;
    background-repeat: no-repeat;
    background-color: #a2d1e1;
    background-image: url(https://image.flaticon.com/icons/png/512/809/809498.png);
}
.selection .support .icon{
    width: 100px;
    height: 100px;
    background-size: 60%;
    border-radius: 50%;
    background-position: top 50% left 50%;
    background-repeat: no-repeat;
    background-color: #dcd691;
    background-image: url(https://image.flaticon.com/icons/png/512/950/950299.png);
}
.freeshipping .icon:hover{
    background-color: #82ae46;
    transition: 0.5s;
}
.alwaysfresh .icon:hover{
    background-color: #82ae46;
    transition: 0.5s;
}
.quality .icon:hover{
    background-color: #82ae46;
    transition: 0.5s;
}
.support .icon:hover{
    background-color: #82ae46;
    transition: 0.5s;
}
.content{
    width: 100%;
    padding: 0px 100px;
}
.content .vegetable{
    width: 100%;
    height: 520px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.content .vegetable .itemleft{
    width: 31%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.fruit1{
    width: 100%;
    height: 250px;
    background-position: bottom ;
    background-size: 100%;
    background-image: url(https://preview.colorlib.com/theme/vegefoods/images/xcategory-1.jpg.pagespeed.ic.alxe1GXuAu.webp);
    display: flex;
    align-items: flex-end;
}
.content .vegetable .itemleft p{
    font-family: "Poppins",Arial,sans-serif;
    font-size: 18px;
    font-weight: 400;
    background: #82ae46;
    padding: 4px 16px;
    display: inline;
    color: #fff;
    cursor: pointer;
}
.fruit2{
    width: 100%;
    height: 250px;
    background-size: 105%;
    background-image: url(https://preview.colorlib.com/theme/vegefoods/images/xcategory-2.jpg.pagespeed.ic.5035OoKGCA.webp);
    display: flex;
    align-items: flex-end;
}
.content .itemmidle{
    width: 31%;
    display: flex;
}
.content .itemmidle span{
    font-family: "Lora",Georgia,serif;
    color: #82ae46;
    font-style: italic;
    font-size: 24px;
    font-weight: 400;
    text-align: center;
}
.content .itemmidle p{
    font-family: "Poppins",Arial,sans-serif;
    color: gray;
    font-size: 15px;
    font-weight: 400;
    margin: 20px 0px;
}
.content .itemmidle button{
    cursor: pointer;
    background: #82ae46;
    color: #fff;
    border: none;
    font-family: "Poppins",Arial,sans-serif;
    font-size: 16px;
    padding: 6px 12px;
    border-radius: 20px;
}
.content .itemmidle button:hover{
    border: 1px solid #82ae46;
    background: #fff;
    color: #82ae46;
    transition: 0.5s;
}
.fruit3{
    width: 100%;
    height: 100%;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 100%;
    background-image: url(https://preview.colorlib.com/theme/vegefoods/images/xcategory.jpg.pagespeed.ic.JIYFOwf8jy.webp);
    display: flex;
    align-items: center;
    flex-direction: column;
}
.content .itemright{
    width: 31%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.fruit4{
    width: 100%;
    height: 250px;
    background-size: 105%;
    background-image: url(https://preview.colorlib.com/theme/vegefoods/images/xcategory-3.jpg.pagespeed.ic.IebYHvpTTo.webp);
    display: flex;
    align-items: flex-end;
}
.content .vegetable .itemright p{
    font-family: "Poppins",Arial,sans-serif;
    font-size: 18px;
    font-weight: 400;
    background: #82ae46;
    padding: 4px 16px;
    display: inline;
    color: #fff;
    cursor: pointer;
}
.fruit5{
    width: 100%;
    height: 250px;
    background-size: 100%;
    background-image: url(https://preview.colorlib.com/theme/vegefoods/images/xcategory-4.jpg.pagespeed.ic.mstLsR7ycw.webp);
    display: flex;
    align-items: flex-end;
}
.content .product{
    width: 100%;
    padding: 90px 0px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.content .product p:nth-child(1){
    font-size: 18px;
    font-family:  "Lora",Georgia,serif;
    color: #82ae46;
    text-align: center;
    margin-bottom: 10px;
}
.content .product h2{
    font-size: 40px;
    font-family: "Poppins",Arial,sans-serif;
    font-weight: 600;
    text-align: center;
    margin-bottom: 1.5rem;
}
.content .product p:nth-child(3){
    font-size: 15px;
    color: gray;
    font-weight: 400;
    font-family: "Poppins",Arial,sans-serif;
    text-align: center;
    margin-bottom: 1rem;
}
.box-buy{
    width: 100%;
    height: 660px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
}
.product .buy{
    width: 23%;
    border: 1px solid #d8d8d8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
    cursor: pointer;
}
.product .buy:hover{
    transform: scale(1.01,1.01);
    box-shadow: 5px 5px  rgba(235, 235, 235, 0.5);
    transition: 0.5s;
}
.product .buy:hover .price{
    display: none;
}
.product .buy:hover .option{
    display: block;
}
.buy .item1{
    background-image: url(https://preview.colorlib.com/theme/vegefoods/images/xproduct-1.jpg.pagespeed.ic.dWctTko08F.webp);
}
.buy .item2{
    background-image: url(https://preview.colorlib.com/theme/vegefoods/images/xproduct-2.jpg.pagespeed.ic.2q3x49cb1q.webp);
}
.buy .item3{
    background-image: url(https://preview.colorlib.com/theme/vegefoods/images/xproduct-3.jpg.pagespeed.ic.J11-RQjosA.webp);
}
.buy .item4{
    background-image: url(https://preview.colorlib.com/theme/vegefoods/images/xproduct-4.jpg.pagespeed.ic.-zi4uKxOWe.webp);
}
.buy .item5{
    background-image: url(https://preview.colorlib.com/theme/vegefoods/images/xproduct-5.jpg.pagespeed.ic.ZbzeN2jASE.webp);
}
.buy .item6{
    background-image: url(https://preview.colorlib.com/theme/vegefoods/images/xproduct-6.jpg.pagespeed.ic.bV2cvmi8jU.webp);
}
.buy .item7{
    background-image: url(https://preview.colorlib.com/theme/vegefoods/images/xproduct-7.jpg.pagespeed.ic.5cTir-xz-1.webp);
}
.buy .item8{
    background-image: url(https://preview.colorlib.com/theme/vegefoods/images/xproduct-8.jpg.pagespeed.ic.eAtHbtNqMI.webp);
}
.buy .item1,.item2,.item3,.item4,.item5,.item6,.item7,.item8{
    position: relative;
    width: 100%;
    height: 230px;
    background-repeat: no-repeat;
    background-size: 100%;
}
.buy p{
    background: #82ae46;
    font-family: "Poppins", Arial, sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: #fff !important;
    display: inline;
    padding: 5px 10px;
    position: absolute;
    top: 0px;
}
.buy span{
    font-family: "Poppins",Arial,sans-serif;
    font-size: 14px;
    font-weight: 300;
}
.buy .price{
    padding: 15px;
}
.buy .price del{
    font-family: "Poppins",Arial,sans-serif;
    color: gray;
    font-weight: 400;
    font-size: 15px;
}
.buy .price span{
    font-family: "Poppins",Arial,sans-serif;
    color: #82ae46;
    font-weight: 400;
    font-size: 15px;
}
.option{
    width: 50%;
    display: none;
    padding: 10px 0px;
}
.option ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    align-content: space-around;
    justify-content: space-around;
}
.option li{
    background-color: #82ae46;
    color: white;
    padding: 10px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}