@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container{
    width: 100%;
    height: 100vh;
    background: green;
    
}
.header{
    display: flex;
    flex-direction: column;
}
.headerinfor{
    width: 100%;
    background: #82ae46;
    display: flex;
    flex-direction: row;
    /* justify-content: space-around; */
    justify-content: space-between;
    padding: 0.5rem 10rem;
    color: #fff;
    font-family: "Poppins",Arial,sans-serif;
    font-size: 11px;
    font-weight: 400;
}
.headerbox{
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    width: 100%;
    height: 4.1rem;
    background: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: "Poppins",Arial,sans-serif;
    padding: 0rem 10rem;
}
.brand{
    color: #82ae46;
    font-weight: 800;
    font-size: 20px;
}
.brand span:hover{
    color: black;
    cursor: pointer;
    transition: 0.5s;
}
.menubar{
    width: 50%;
    
}
.menubar ul{
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    list-style: none;
    font-family: "Poppins",Arial,sans-serif;
    font-size: 11px;
    font-weight: 400;
    color: #000;
    
}
.menubar li{
    padding: 1.5rem 24px;
    cursor: pointer;
}
.dropdown{
    position: relative;
    display: inline-block;
}
.dropdown-content{
    display: none;
    position: absolute;
    background: #fff;
    min-width: 160px;
    z-index: 1;
}
.dropdown-content a{
    color: #000;
    padding: 0.5rem 24px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover{
    background: #fff;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown:hover .droptbn{
    background: #fff;
}

.homepage{
    width: 100%;
    height: 96vh;
    background-size: 100%;
    background-image: linear-gradient(to top, rgba(0,0,0,0.5), rgba(0,0,0,0.3)),url(https://preview.colorlib.com/theme/vegefoods/images/xbg_1.jpg.pagespeed.ic.CriyRQ4w7N.webp);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}
.intro{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.homepage .intro p:first-child{
    font-family: "Amatic SC",cursive;
    font-weight: 400;
    font-size: 8vw;
    padding-bottom: 18px;
}
.homepage .intro p:nth-child(2){
    font-family: "Poppins",Arial,sans-serif;
    font-weight: 300;
    font-size: 12px;
    margin-bottom: 24px;
}
.homepage .intro button{
    background: #82ae46;
    border: none;
    color: #fff;
    cursor: pointer;
    font-family: "Poppins",Arial,sans-serif;
    font-weight: 400;
    font-size: 16px;
    padding: 6px 12px;
    border-radius: 20px;
}
.homepage .intro button:hover{
    color: #82ae46;
    border: 1px solid #82ae46;
    background: transparent;
    box-sizing: border-box;
}