@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: 100%;
    background: url('/lap2/assets/img/background1.jpg') top center/ cover no-repeat;
}

#content{
    background-color: white;
    width: 70%;
    height: 80vh;
    display: flex;
    border-radius: 15px;
    box-shadow: 0 0 20px red;
}
#content .content-left{
    width: 50%;
    background-size: 100%;
    background: url('/lap2/assets/img/wp9142890.jpg') top center/ cover no-repeat;
    opacity: 0.6;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

#content .content-right{
    width: 50%;
    padding: 20px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-right .logo{
    width: 100px;
    height: 100px;
    background-size: 100%;
    background: url('/lap2/assets/img/logo-manchester\ united.png')  center/ cover no-repeat;
    margin-bottom: 15px;
}
.content-right h3{
    font-family: BebasNeueBold, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 40px;
}
.content-right > input{
    font-family: SourceSansProSemiBold, Helvetica, sans-serif;
    width: 70%;
    display: block;
    padding: 10px 10px;
    outline: none;
    border: 1px solid #ccc;
    margin: 15px 0;
    border-radius: 5px;
}

.content-right .remember-box > input{
    margin: 0 10px;
    cursor: pointer;
}
.content-right .remember-box span{
    font-family: SourceSansProRegular, Helvetica, sans-serif;
}
.content-right button{
    margin-top: 15px;
    padding: 10px 60px;
    cursor: pointer;
    border: 1px solid #ccc;
    text-transform: uppercase;
    font-family: SourceSansProSemiBold, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 600;
    border-radius: 15px;

}
.content-right button:hover{
    background-color: red;
    transition: 0.5s;
}