.container{
    display: flex;
    justify-content: space-around;
}
.item{
    width: 20%;
    background-color: whitesmoke;
    text-align: center;
    padding: 0.5%;
}
.item1{
    display: flex;
    justify-content: space-between;
    padding: 0.5% 1%;
    height: 10%;
}
.item2{
    display: flex;
    flex-direction: column;
    width: 60%;
    font-size: 80%;
}
.item2 span{
    font-size: 20px;
    align-self: flex-start;
    color: #ee4d2d;
}
.item img{
    width: 95%;
}
.item1 p{
    background-color: #fdcb6e;
    border-radius: 10px;
    margin-top: -1%;
    color: blanchedalmond;
}
.item1 button{
    width: 35%;
    background-color: #ee4d2d;
    border: none;
    border-radius: 5px;
    color: blanchedalmond;
    cursor: pointer;
    transition: 0.5s;
}
button:hover{
    box-shadow: 0 5px 5px 0 #bdc3c7;
    background-color: #e67e22;
}
