* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.container {
    height: 100vh;
    display: flex;
}
.left {
    width: 30%;
    height: 100vh;
    background-color: red;
}
.right {
    width: 70%;
    height: 100vh;
    background-color: aqua;
}