@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;0,700;0,900;1,300;1,400;1,600;1,700;1,900&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: white;
}

::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 20px;
}



:root {
    --textcolor: #D6001C;
    --textsize: 16px;
    --textfont: 'Source Sans Pro', sans-serif;
    --smallheadingsize: 36px;
    --headingsize: 72px;
    --headingfont: 'Poppins', sans-serif; 
    --underline-height: .2em;
    --transition-duration: .5s;
}

#header {
    width: 100vw;
    background-color: whitesmoke;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 1;
    padding-right: 30px;
}

#header .brand-logo {
    width: 50px;
    height: 50px;
}

/* menu bar */
#header > #nav {
    display: flex;
    flex-direction: row;
    list-style: none;
    position: relative;
    white-space: nowrap;
}

.underline {
    display: block;
    position: absolute;
    z-index: 0;
    bottom: 0;
    left: 0;
    height: var(--underline-height);
    width: 20%;
    background: #D6001C;
    pointer-events: none;
    mix-blend-mode: multiply;
    transition: transform var(--transition-duration) ease-in-out;
}

.underline:nth-child(1) {
    background: yellow;
    transition: calc(var(--transition-duration) * .8);
  }
  .underline:nth-child(2) {
    background: cyan;
    transition: calc(var(--transition-duration) * 1.2);
  }
  .underline:nth-child(3) {
    background: magenta;
  }
  
  a {
    display: inline-block;
    z-index: 10;
    width: 20%;
    padding: 1em 0;
    text-align: center;
    cursor: pointer;
  }
  
  nav.black .underline {
    background: #D6001C;
    border-radius: 0.25em;
    height: calc(var(--underline-height) / 2);
    mix-blend-mode: initial;
  }


#nav > li > a {
    font-size: var(--textsize);
    font-weight: 600;
    text-decoration: none;
    color: var(--textcolor);
    margin: 0 10px;
}

#nav > li > a:hover {
    opacity: 0.8;
    transition: 0.5s;
    text-shadow: 1px 1px #ccc;
}

  /* close menu bar */
#header-option {
    display: flex;
    flex-direction: row;
}

#header-option > .account {
    display: flex;
}

#header-option > .account > p {
    margin-left: 10px;
}

#header .search-icon,
#header .cart-icon,
#header .account {
    font-size: 16px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    color: var(--textcolor);
    margin: 0 10px;
}

#header .search-icon,
#header .cart-icon {
    width: 30px;
    background-color: #ccc;
    border-radius: 50%;
}

#header .account {
    font-size: var(--textsize);
    background-color: #ccc;
    padding: 5px;
    border-radius: 20px;
}

#header .search-icon:hover,
#header .cart-icon:hover,
#header .account:hover {
    cursor: pointer;
    background-color: #D6001C;
    color: #fff;
    transition: 0.5s;
} 

/* slider */

#slider {
    height: 100vh;
    background: url('/Final_project/assets/img/11062b_91a611d9fc74418da54bb15a2e85481d_mv2.jpg') center / cover no-repeat;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 50px;

}

#slider .button-changeslide {
    width: 15px;
    height: 15px;
    background-color: #D6001C;
    opacity: 0.5;
    border-radius: 50%;
    margin: 0 5px;
    border: none;
}

#slider .button-changeslide:hover {
    cursor: pointer;
}

/* content */

#content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
}

#content .heading-text {
    font-family: var(--headingfont);
    font-size: var(--headingsize);
    color: var(--textcolor);
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 30px;
}

#content .body-text {
    width: 900px;
    margin-bottom: 150px;
    text-align: center;
}

.body-text {
    color: var(--textcolor);
    font-family: var(--textfont);
    font-size: var(--textsize);
    letter-spacing: 1px;
}

#content .sale-product {
    width: 200px;
    height: 300px;
}

#content .image-sale-product {
    height: 200px;
    background-color: #ccc;
}

#content .name-product,
#content .price-product {
    font-family: var(--textfont);
    font-size: var(--textsize);
    color: var(--textcolor);
    line-height: 50px;
    
}

#content .name-product {
    border-bottom: 1px solid #D6001C;
}

/* About Us */

#aboutus {
    height: 100vh;
    display: flex;
    background-color: #eee;
}

#aboutus .item-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    padding: 50px;
}

.small-heading-text {
    font-family: var(--headingfont);
    font-size: var(--smallheadingsize);
    color: var(--textcolor);
    font-weight: 500;
    margin-bottom: 30px;
    text-transform: uppercase;
}

#aboutus .body-text {
    text-align: justify;
    margin-bottom: 30px;
}

#aboutus .aboutus-btn {
    width: 150px;
    padding: 15px 0;
    border: none;
    background-color: var(--textcolor);
    font-family: var(--textfont);
    font-size: var(--textsize);
    color: white;

}

#aboutus .aboutus-btn:hover {
    cursor: pointer;
    opacity: 0.8;
    transition: 0.5s;
}

#aboutus .item-right {
    width: 50%;
    background: url(https://static.wixstatic.com/media/11062b_04cb21581b0c4aa184ffe8950598665b~mv2.jpg/v1/fill/w_675,h_640,fp_0.67_0.36,q_85,usm_0.66_1.00_0.01/11062b_04cb21581b0c4aa184ffe8950598665b~mv2.webp) top center / cover no-repeat;
}

/* contact */

#contact {
    background-color: #eee;
    height: 100vh;
    display: flex;
    padding: 50px;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: var(--textcolor);
    opacity: 1; /* Firefox */
    font-family: var(--textfont);
    font-size: var(--textsize);
}
  
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: var(--textcolor);
    font-family: var(--textfont);
    font-size: var(--textsize);
}
  
::-ms-input-placeholder { /* Microsoft Edge */
    color: var(--textcolor);
    font-family: var(--textfont);
    font-size: var(--textsize);
}

#contact .contact-left {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 100px;
}

#contact .contact-left > .body-text {
    text-decoration: unset;
    margin-bottom: 10px;
}

#contact .contact-right {
    width: 50%;
}

#contact .contact-form-1,
#contact .contact-form-2,
#contact .contact-form-3 {
    display: flex;
    
}

#contact .contact-form-3 {
    display: flex;
    flex-direction: column;
}


#contact .contact-right .contact-form-box {
    width: 50%;
    display: flex;    
    flex-direction: column;
    margin-right: 30px;
    line-height: 50px;
}

#contact .contact-form-3 > .contact-form-box {
    width: 95%;
}

#subject,
#massage {
    height: 100px;
}

#name,
#email,
#phone,
#address,
#subject,
#massage {
    background-color: transparent;
    padding: 10px 0px;
    border: none;
    border-bottom: 1px solid #D6001C;
    outline: none;
}

#contact .contact-right .contact-form-box:hover > input{
    border-bottom: none;
    border: 1px solid;
    padding-left: 5px;
    transition: 0.3s;
}

#contact .submit-btn {
    margin-top: 30px;
    width: 95%;
    padding: 20px 0px;
    color: white;
    background-color: #D6001C;
    border: none;
    cursor: pointer;
}

#contact .submit-btn:hover {
    opacity: 0.8;
    transition: 0.5s;
}

/* footer */

#footer {
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#footer .social {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

#footer .network-icon {
    font-size: 25px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin: 0 5px;
}

#footer .network-icon:nth-child(1) {
    overflow: hidden;
    background-color: #4267B2;
    color: #fff;
}

#footer .network-icon:nth-child(2) {
    overflow: hidden;
    background-color: #E1306C;
    color: white;
}

#footer .network-icon:nth-child(3) {
    overflow: hidden;
    background-color: #000;
    color: white;
}

#footer .network-icon:nth-child(4) {
    overflow: hidden;
    background-color: #FF0000;
    color: white;
}

#footer .network-icon:nth-child(5) {
    overflow: hidden;
    background-color: #1DA1F2;
    color: white;
}

#footer > span {
    font-size: var(--textsize);
    opacity: 0.8;
}