.container {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
}
form {
    width: 400px;
    background: whitesmoke;
    padding: 20px;
    border-radius: 20px;
}
#emailErr,
#passwordErr,
#confirmPasswordErr {
    color: red;
}