@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
/* Reset CSS */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.text-white{
    color: #fff !important;
}

#main{

}

#header{
    height: 46px;
    background: #000;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    left: 0;
}

#nav > li{
    display: inline-block;
    position: relative;
}

#nav{
    display: inline-block;
}

#nav > li > a{
    color: #fff;
    font-family: "Lato", sans-serif;
    font-size: 15px;
    text-decoration: none;
    padding: 0 24px;
    line-height: 46px;
    text-transform: uppercase;
    display: inline-block;
}

.subnav li:hover a,
#nav > li:hover > a{
    background: #ccc;
    color: #000;
}
#nav .subnav{
    display: none;
    background-color: #fff;
    position: absolute;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

#nav li:hover .subnav{
    display: block;
}

.subnav li{
    display: block;

}

.subnav li a{
    color: #000;
    height: 40px;
    min-width: 160px;
    font-family: "Lato", sans-serif;
    font-size: 15px;
    text-decoration: none;
    padding: 0 16px;
    line-height: 40px;
    display: block;
}

#header .search{
    float: right;
}

#header .search i{
    color: #fff;
    line-height: 46px;
    font-size: 16px;
    padding: 0 24px;
    cursor: pointer;
}

#header .search:hover{
    background: #f44336;
}

#slider{
    margin-top: 46px;
    /* padding-top: 50%; 50% chiều ngang của chính nó */
    padding-top: 50%; 
    background: url('/W3school_theBand/assets/img/slider/slider1.jpg') top center / cover no-repeat;
    position: relative;
}

#slider .text-content{
    position: absolute;
    color: #fff;
    bottom: 48px;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
}

#slider .text-heading{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 25px;
}

#slider .text-description{
    font-family: "Lato", sans-serif;
    font-size: 15px;
    font-weight: bolder;
    line-height: 1.5;
}

#content{

}

#content .content-section{
    width: 800px;
    padding: 64px 0;
    margin-left: auto;
    margin-right: auto;
}

#content .section-heading{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    margin: 10px 0;
    font-weight: 400;
    text-transform: uppercase;
    /* khoảng cách giữa cách chữ */
    letter-spacing: 4px;
}

#content .section-sub-heading{
    font-size: 15px;
    font-family: "Lato", sans-serif;
    margin: 15px 0;
    /* chữ nghiêng */
    font-style: italic;
    /* độ mờ, trong suốt */
    opacity: 0.6;
}

#content .about-text{
    font-family: "Lato", sans-serif;
    font-size: 15px;
    margin: 15px 0;
    /* căn đều 2 đầu */
    text-align: justify;
    /* khoảng cách 2 dòng, độ cao của dòng */
    line-height: 1.5;
}

#content .section-heading,
#content .section-sub-heading{
    text-align: center;

}

#content .member-list{
    margin: 32px 0;
    display: flex;
    justify-content: space-around;
}

#content .member-item{

}

#content .member-name{
    font-family: "Lato", sans-serif;
    font-size: 15px;
    text-align: center;
    margin: 15px 0;
}

#content .member-img{
    width: 154px;
    border-radius: 4px;
}

/* Tour-section */

.tour-section{
    background-color: #000;
}

.tickets-list{
    background-color: #fff;
    margin-top: 40px;
    list-style: none;
}

.tickets-list li{
    font-family: "Lato", sans-serif;
    font-size: 15px;
    padding: 8px 16px;
    color: #757575;
    border-bottom: 1px solid #ddd;
}

.tickets-list .soldout{
    font-family: "Lato", sans-serif;
    font-size: 15px;
    color: #fff;
    padding: 3px 6px;
    background-color: #f44336;
    margin-left: 16px;
}

.tickets-list .quantity{
    height: 25px;
    width: 25px;
    line-height: 25px;
    font-size: 15px;
    color: #fff;
    font-weight: "Lato", sans-serif;
    background-color: #000;
    border-radius: 50%;
    float: right;
    text-align: center;
    margin-top: -3px;
}

/* Places */
.places-list{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 48px;
}

.place-item{
    width: 31%;
}

.place-img{
    width: 100%;
    display: block;
}

.place-img:hover{
    opacity: 0.5;
}

.place-body{
    background-color: #fff;
    padding: 16px;
}

.place-heading{
    font-family: "Lato", sans-serif;
    font-size: 15px;
    font-weight: bolder;
    margin-bottom: 15px;
}

.place-time{
    font-family: "Lato", sans-serif;
    font-size: 15px;
    margin-bottom: 15px;
    opacity: 0.6;
}

.place-desc{
    font-family: "Lato", sans-serif;
    font-size: 15px;
    margin-bottom: 30px;
}

.place-buy-btn{
    text-decoration: none;
    color: #fff;
    background-color: #000;
    font-family: "Lato", sans-serif;
    font-size: 15px;
    padding: 8px 16px;
    cursor: pointer;
    border: none;
}

.place-buy-btn:hover{
    color: #000;
    background-color: #ccc;
    transition: 0.5s;
}

/* Model */


.modal{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.3);
    display: none ;
    justify-content: center;
    align-items: center;
}

.modal.open{
    display: flex;
}

.modal .modal-container{
    width: 900px;
    max-width: calc(100% - 50px);
    background-color: #fff;
    position: relative;
    /* gọi css từ @keyframes */
    animation: modalFadein ease 0.5s;
}

.modal .modal-close{
    position: absolute;
    right: 0;
    font-size: 24px;
    color: #fff;
    padding: 10px 16px;
    cursor: pointer;
    opacity: 0.8;
}

.modal .modal-close:hover{
    opacity: 1;
}

.modal .modal-header{
    background-color: #009688;
    color: #fff;
    letter-spacing: 4px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    font-size: 30px;
    text-align: center;
    padding: 32px 16px;
}

.modal .modal-body{
    display: flex;
    flex-direction: column;
    padding: 0 16px;

}

.modal .modal-label{
    font-family: "Lato", sans-serif;
    font-size: 15px;
    margin: 15px 0;
}

.modal .modal-input{
    padding: 8px;
    border: 1px solid #ccc;
}

#buyticket{
    font-family: "Lato", sans-serif;
    font-size: 15px;
    color: #fff;
    background-color: #009688;
    padding: 16px;
    margin: 16px 0;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
}

#buyticket:hover{
    opacity: 0.8;
}

.modal .modal-footer{
    padding: 0 16px;
    font-family: "Lato", sans-serif;
    font-size: 15px;
    margin: 15px 0 35px ;
    text-align: end;
}

.modal .modal-footer a{
    color: #2196F3;
}


#footer{

}

/* tạo ra chuyển động */
@keyframes modalFadein {
    from{
        opacity: 0;
        transform: translateY(-150px);
    }

    to{
        opacity: 1;
        transform: translateY(0);
    }
}