@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
/* Reset CSS */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#main{

}

#header{
    height: 46px;
    background: #000;
}

#nav li{
    display: inline-block;
}

#nav li a{
    color: #fff;
    font-family: "Lato", sans-serif;
    font-size: 15px;
    text-decoration: none;
    padding: 0 24px;
    line-height: 46px;
    text-transform: uppercase;
    display: inline-block;
}

#nav li:hover a{
    background: #ccc;
    color: #000;
}
#nav .subnav{
    display: none;
}
#slider{

}

#content{

}

#footer{

}

