@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
/* Reset CSS */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#main{

}

#header{
    height: 46px;
    background: #000;
}

#nav > li{
    display: inline-block;
    position: relative;
}

#nav{
    display: inline-block;
}

#nav > li > a{
    color: #fff;
    font-family: "Lato", sans-serif;
    font-size: 15px;
    text-decoration: none;
    padding: 0 24px;
    line-height: 46px;
    text-transform: uppercase;
    display: inline-block;
}

.subnav li:hover a,
#nav > li:hover > a{
    background: #ccc;
    color: #000;
}
#nav .subnav{
    display: none;
    position: absolute;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

#nav li:hover .subnav{
    display: block;
}

.subnav li{
    display: block;

}

.subnav li a{
    color: #000;
    height: 40px;
    min-width: 160px;
    font-family: "Lato", sans-serif;
    font-size: 15px;
    text-decoration: none;
    padding: 0 16px;
    line-height: 40px;
    display: block;
}

#header .search{
    float: right;
}

#header .search i{
    color: #fff;
    line-height: 46px;
    font-size: 16px;
    padding: 0 24px;
    cursor: pointer;
}

#header .search:hover{
    background: #f44336;
}

#slider{

}

#content{

}

#footer{

}

